/* ----- MOBILE ----- */
#shopping-container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    overflow: hidden;
    z-index: 1000;
}

#shopping {
    height: 100vh;
    background-color: var(--colorBgSecondary);
    width: 100vw;
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    padding: 1rem;
    color: var(--colorSecondary);
}

#shopping .close-button {
    color: var(--colorSecondary);
}

#shopping button {
    border: none;
    border-radius: 2.2rem;
    background-color: var(--colorCTA);
    color: var(--colorSecondary);
    padding: 0.5rem;
    width: 100%;
    margin-top: 1rem;
}

#shopping button a {
    text-decoration: none;
    color: var(--colorLink);
}




/* ----- TABLET ----- */

@media only screen and (min-width: 600px) {

    #shopping-container {
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        overflow: hidden;
        z-index: 1000;
        background-color: transparent;
        backdrop-filter: blur(5px);
    }

    #shopping {
        height: 100vh;
        background-color: var(--colorBgSecondary);
        width: 35vw;
        position: absolute;
        top: 0;
        right: 0;
        overflow: hidden;
        padding: 1rem;
        color: var(--colorSecondary);
    }

    #shopping .close-button {
        color: var(--colorSecondary);
    }

    #shopping button {
        border: none;
        border-radius: 2.2rem;
        background-color: var(--colorCTA);
        color: var(--colorSecondary);
        padding: 0.5rem;
        width: 100%;
        margin-top: 1rem;
    }

    #shopping button a {
        text-decoration: none;
        color: var(--colorLink);
    }

}

/* ----- DESKTOP ----- */

@media only screen and (min-width: 768px) {
    #shopping {
        width: 25vw;
    }
    

}