/* ----- MOBILE ----- */
#shopping-container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    overflow: hidden;
    z-index: 1000;
}

#cart {
    height: 100vh;
    background-color: var(--colorBgSecondary);
    width: 100vw;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    padding: 1rem;
    color: var(--colorSecondary);
}

#cart .close-button {
    color: var(--colorSecondary);
    cursor: pointer;
}

#cart button {
    border: none;
    border-radius: 2.2rem;
    background-color: var(--colorCTA);
    color: var(--colorSecondary);
    padding: 0.5rem;
    width: 100%;
    margin-top: 1rem;
}

#cart button a {
    text-decoration: none;
    color: var(--colorLink);
}

#cart-items {
    list-style: none;
}

.cart-item-details {
    font-size: 0.8rem;
}

.cart-item-image {
    max-height: 5rem;
    width: 5rem;
    object-fit: contain;
}

/* cart count */
#quantity {
    background-color: var(--colorCTA);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--colorSecondary);
    position: absolute;
    top: 2rem;
    left: 90%;
    padding: 3px 10px;
}




/* ----- TABLET ----- */

@media only screen and (min-width: 600px) {

    #shopping-container {
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        overflow: hidden;
        z-index: 1000;
        background-color: transparent;
        backdrop-filter: blur(5px);
    }

    #cart {
        height: 100vh;
        background-color: var(--colorBgSecondary);
        width: 35vw;
        position: absolute;
        top: 0;
        right: 0;
        overflow: hidden;
        padding: 1rem;
        color: var(--colorSecondary);
    }

    #cart .close-button {
        color: var(--colorSecondary);
    }

    #cart button {
        border: none;
        border-radius: 2.2rem;
        background-color: var(--colorCTA);
        color: var(--colorSecondary);
        padding: 0.5rem;
        width: 100%;
        margin-top: 1rem;
    }

    #cart button a {
        text-decoration: none;
        color: var(--colorLink);
    }

    /* cart count */
    #quantity {
        top: 1rem;
        left: 95%;
        padding: 1px 6px;
        font-size: 0.6rem;
    }
}

/* ----- DESKTOP ----- */

@media only screen and (min-width: 768px) {
    #cart {
        width: 35vw;
    }

    /* cart count */
    #quantity {
        top: 1.2rem;
        left: 97%;
        font-size: 0.8rem;
    }

}