#icon-menu button {
    color: var(--colorLink);
    padding: 1rem;
}

.login-container{
    width: 100%;
    height: 100vh;
    background-image: url(../img/login-background.jpg);
    background-position: center;
    background-size: cover
    ;
}


.login-form-box{
    width: 90%;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: var(--colorLink);
    padding: 50px 60px 70px;
    text-align: center;

}

.login-form-box h1 {
    font-size: 30px;
    margin-bottom:60px ;
    color: var(--colorSecondary);
    position: relative;
}

.login-form-box h1::after{
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 4px;
    background-color:var(--colorSecondary) ;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);


}

.input-field{
    background:  var(--colorBgSecondary);
    margin: 15px 0;
    border-radius: 4px;
    display: flex;
    align-items: center;
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden;


}

input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;

}

.input-field a{
    margin-left: 15px;
    color: var(--colorCTA);
}

.login-form-box p{
    text-align: left;
    font-size: 13px;
}

.login-btn-field{
    width: 100%;
    display: flex;
    justify-content: space-between;
  
}

.login-btn-field button{
    flex-basis: 48%;
    background:var(--colorCTA);
    color: var(--colorMain);
    height: 40px;
    border: 0;
    outline: 0;
    border-radius: 18px;
    transition: backround 1s;
}

.input-group{
    height: 320px;
}

.login-btn-field button.disable{
    background-color:  #eaeaea; 
    color: #555;
}


