/* Products/news/popular-pages */

/* ----- MOBILE ----- */

.product-page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    color: var(--colorSecondary);
 }

.buy-button {
    border: none;
    border-radius: 2.2rem;
    background-color: var(--colorCTA);
    color: var(--colorSecondary);
    padding: 0.5rem;
    width: 100%;
    margin-top: 1rem;
}

.buy-button:hover {
    background-color:var(--colorSecondary);
    color: var(--colorCTA);
}

/* ----- TABLET ----- */

@media only screen and (min-width: 600px) {
   
}



/* ----- DESKTOP ----- */

@media only screen and (min-width: 768px) {

    .filter {
        width: 20vw;
        background-color: var(--colorSecondary);
    }

    .products {
        width: 65vw;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .product {
        width: 20vw;
        margin: 2rem 0.5rem;
    }

    .product img {
        display: block;
        width: 20vw;
        height: 35vh;
        object-fit: contain;
    }

    .price {
        font-weight: 300;
    }

}