@import 'variables.css';
@import 'frontpage.css';
@import 'about.css';
@import 'contact.css';
@import 'products.css';
@import 'skabelon.css';
@import 'check-out.css';
@import 'login_signup.css';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fontMain);
}

body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    background-color: var(--colorBgMain);
}

img {
    width: 100%;
    height: auto;
}

h1 {
    font-size: 3rem;
}

/* ----- MOBILE ----- */



/* ----- TABLET ----- */



/* ----- DESKTOP ----- */