@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;1,100;1,200;1,300&display=swap');

:root {
    --colorMain: #0b0d0a;
    --colorSecondary: #001c55;
    --colorLink: #f7f7f7;
    --colorBgMain: #f7f7f7;
    --colorBgSecondary: #E4F2FF;
    --colorCTA: #faa275;

    --fontHeader: 'Oooh Baby', serif;
    --fontMain: 'Poppins', sans-serif;
}