@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;1,100;1,200;1,300&display=swap');

:root {
    --colorMain: #0b0d0a;
    --colorSecondary: #d6c37f;
    --colorLink: floralwhite;
    --colorBgMain: #262858;
    --colorBgSecondary: #506283;
    --colorCTA: #582627;

    --fontHeader: 'Martian Mono', 'Courier New', monospace;
    --fontMain: Cantarell, Arial, sans-serif;
}