@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;600&family=Poppins:ital,wght@0,200;0,300;0,500;1,600&display=swap');

:root {
    --colorMain: #0b0d0a;
    --colorSecondary: #001c55;
    --colorLink: #f7f7f7;
    --colorBgMain: #f7f7f7;
    --colorBgSecondary: #E4F2FF;
    --colorCTA: #faa275;
    --colorCTASecondary: #eaeaea;
    --basicColor: #ffffff;

    --fontHeader: 'League Spartan', sans-serif;
    --fontMain: 'Poppins', sans-serif;
}